<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>The Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
      provident, voluptas accusamus debitis voluptatum eaque dolor odit
      laboriosam enim velit sed. Amet error quos ipsa beatae vero, inventore
      maxime ratione!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iusto soluta
      excepturi necessitatibus delectus maiores ducimus tempora, a ipsam illum
      provident dignissimos esse voluptatibus, velit quos cum culpa laboriosam
      ullam?
    </p>
  </body>
</html>
